body{
    background-image: url(../img/background-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Ubuntu;
}

header {
    display: flex;
    justify-content: space-between;
    min-height: 68px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: rgba(0, 0, 0, 0.06);
}

button{
    font-family: Ubuntu;
}

.title-text{
    margin-top: 22px;
    margin-left: 79px;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
}

.header-navbar{
    display: flex;
    padding-top: 22px;
    padding-right: 79px;
}

.header-navbar p::before{
    content: "|";
    margin-right: 15px;
    font-size: 19px;
    line-height: 19px;
    width: 1px;
    color: rgba(163, 159, 159, 0.9);
}

.header-navbar a, .header-navbar p{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.header-navbar-icons{
    display: flex;
}

.calendar, .compass, .envelope {
    height: 24px;
    width: 24px;
    margin-right: 20px;
}

.calendar:hover svg path, .compass:hover svg path, .envelope:hover svg path{
    fill: rgba(60, 184, 120, 1);
    transition: fill 1.3s;
}

.title-text:hover, .header-navbar a:hover{
    color: rgba(60, 184, 120, 1);
}


.form-container{
    left: 0;
    right: 0;
    margin: 55px auto auto auto;
    width: 444px;
    min-height: 634px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.27);
}

.form-header{
    display: flex;
    align-items: center;
    min-height: 55px;
}

.green-block{
    margin-top: 29px;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
}

.sign-up-text{
    margin-top: 29px;
    margin-left: 42px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #434343;
}

.login-btn{
    margin-top: 32px;
    margin-left: 217px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    text-decoration: none;
}

.signup-form{
    margin-top: 15px;
}

.socials-buttons{
    display: flex;
    height: 48px;
    width: 100%;
}

.facebook-btn{
    display: flex;
    border: none;
    align-items: center;
    margin-left: 60px;
    height: 48px;
    width: 160px;
    background-color: #305DB8;
    border-radius: 5px;
}

.facebook-btn:hover{
    background-color: #022263;
}

.socials-logo{
    margin-left: 11px;
}

.socials-text{
    margin-left: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.vertical-line{
    margin-left: 12px;
    height: 28px;
    border-left: 1px solid #0A162F;
    opacity: 0.1;
}

.google-btn{
    display: flex;
    border: none;
    align-items: center;
    margin-left: 8px;
    height: 48px;
    width: 160px;
    background-color:#DF4A32;
    border-radius: 5px;
}

.google-btn:hover{
    background-color: #AB1F09;
}

.or{
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 30px;
}
.or hr{
    width: 152px;
}

.or p{
    margin-left: 7px;
    margin-right: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}

.inputs-container{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 60px;
}

.input{
    margin-top: 20px;
    height: 44px;
    width: 322px;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
}

.input:focus{
    outline: none;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2)
}

.input:first-child{
    margin-top: 0;
}

.input::placeholder{
    padding-left: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}

.checkbox{
    position: absolute;
    margin-top: 340px;
}

.checkbox-label{
    position: absolute;
    margin-top: 338px;
    margin-left: 26px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #434343;
}

.checkbox-label a{
    text-decoration: none;
    color: #3CB878;
}

a:hover{
    text-decoration: underline;
    color: #01813F;
}

.create-account-btn{
    position: absolute;
    margin: 55px auto auto 60px;
    width: 324px;
    height: 46px;
    border: none;
    border-radius: 5px;
    background-color: rgba(60, 184, 120, 0.8);
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.create-account-btn:hover{
    background-color: #01813F;
}